 .maincontainer {
    justify-content: center;
    align-items: center;
}
.container {
    padding: 10px;
    width: 90%;
} 

.eachContainer {
    display: flex;
    flex-direction: column;
    max-width: 270px; 
    height: 330px;
    margin: 10px;
    padding: 10px;
    background-color:#f5f6fa;
    align-items: center;
    cursor: pointer;
    place-items: center;
    border-radius: 5px;
}

.bookTitle {
    text-align: center;
    font-size: 27px;
    color: #341f97;
    font-weight: bold;
    margin-bottom: 5px;
}

.bookTitle:hover {
    text-shadow: 2px 2px 4px #6e6a98;
    cursor: pointer;
}

.author {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}

.description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word; 
}


.eachBookCover {
    width: 100%;
    border-radius: 5px;
    height: 200px;
}

