 .maincontainer {
    justify-content: center;
    align-items: center;
}
.container {
    padding: 10px;
    width: 90%;
} 

.eachContainer {
    display: flex;
    flex-direction: column;
    max-width: 200px; 
    height: 300px;
    margin: 20px;
    padding: 10px;
    background-color:#f5f6fa;
    align-items: center;
    cursor: pointer;
    place-items: center;
    border-radius: 5px;
}

.bookTitle {
    text-align: center;
    font-size: 24px;
    color: #341f97;
    font-weight: bold;
}
.bookTitle:hover {
    text-shadow: 2px 2px 4px #6e6a98;
    cursor: pointer;
}

.author {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 5px;
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 최대 표시 줄 수 */
    -webkit-box-orient: vertical;
    overflow:hidden;
    text-overflow: ellipsis;
    word-wrap : break-word; 
    margin-top: 5px;
}


.eachBookCover {
    width: 100%;
    border-radius: 5px;
    height: 200px;
}

