
.navContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%; /* 높이를 화면의 전체 높이로 설정하여 화면 중앙에 정렬합니다. */
}
.mainNav {
    font-size: 24px;
    text-align: left;
    margin: 20px;
}

.navList {
    justify-content: center;
    color: #4b6584;
    font-size: 28px;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
}

.navList:hover {
    color: aliceblue;   
    text-shadow: 2px 2px 4px #130f40;
}

.mainTitle {
    color: #130f40;
    text-shadow: 2px 2px 4px #95afc0;
    font-size: 72px;
    text-align: center;
    margin-bottom: 10px;
}